/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.slides li img {
    width: 100%;
    height: 100%;
}

.flexslider {
    position: relative;
    height: 100%;
}

    .flexslider .slides {
        height: 100% !important;
    }

        .flexslider .slides li {
            position: relative;
            height: 100%;
        }

.flex-viewport {
    position: relative;
    height: 100%;
}

#flex-container {
    height: 500px;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    background: transparent;
}

#chat {
    position: fixed;
}

    #chat, #chat div.panel {
        right: 2px;
        height: 97%;
    }

        #chat div.panel {
            width: 97%;
        }

.blue-background {
    background-color: #70a0d4;
}

.vanilla-background {
    background-color: #eeb56f;
}

.centered {
    padding: 20px 20px;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.bigger {
    font-size: 1.4em;
}

.info-box {
    border: 1px solid rgba(43, 39, 39, 0.22);
    -ms-border-radius: 3px;
    border-radius: 3px;
}