@model KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels.User.ModeratorViewModel

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @{ Html.RenderPartial("EditorTemplates/CourseEditor"); }
    </div>

</div>

<div class="col-lg-6 centered">
    <div class="row">
        <h3>Add to moderators</h3>
        @using (Html.BeginForm("AddToModerators", "Users", null ,FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(x=>x.User)
            <input type="submit" class="btn btn-success" value="Add" />

        }
    </div>
    <div class="row" id="ajax-user-search-results">

    </div>
    
</div>
<div class="col-lg-6 centered">
    <h3>Remove from moderators</h3>
    @using (Html.BeginForm("RemoveFromModerators", "Users", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(x => x.Moderator)
        <input type="submit" class="btn btn-success" value="Remove" />

    }

</div>
