@using Kendo.Mvc.UI
@using KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels
@using KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels.Base
@using KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels.Faculty
<div class="col-md-12">
    @(Html.Kendo()
          .Grid<FacultyViewModel>()
          .Name("grid-faculties")
          .ToolBar(tool =>
                       {
                           tool.Create();
                       })
          .Columns(columns =>
                       {
                           columns.Bound(model => model.Name);
                           columns.Bound(model => model.Description);
                           columns.Bound(model => model.University).ClientTemplate("#= University.Name #").ClientGroupHeaderTemplate("University:#= value.Name #");
                           columns.Bound(model => model.CreatedOn).Hidden(true);
                           columns.Bound(model => model.ModifiedOn).Hidden(true);
                           columns.Command(command =>
                                               {
                                                   command.Edit();
                                                   command.Destroy();
                                               });
                       })
                       .ColumnMenu()
          .Pageable(page =>
                        {
                            page.PreviousNext(true);
                            page.Numeric(true);
                            page.Refresh(true);
                        })
          .Sortable(sort =>
                        {
                            sort.AllowUnsort(true);
                            sort.SortMode(GridSortMode.SingleColumn);
                        })
          .Groupable()
          .Filterable()
          .Resizable(resize => resize.Columns(true))
          .Navigatable()
          .Editable(edit =>
                        {
                            edit.Mode(GridEditMode.PopUp);
                        })
          .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
          .DataSource(data => data.Ajax()
                                  .Model(m => { m.Id(b => b.Id);
                                                  m.Field(x => x.University).DefaultValue(new SimpleViewModel());
                                      
                                  })
                                  .PageSize(10)
                                  .ServerOperation(true)
                                  .Create("Create", "Faculties")
                                  .Read("Read", "Faculties")
                                  .Update("Update", "Faculties")
                                  .Destroy("Delete", "Faculties")
                                  .Events(events =>
                                      {
                                          events.RequestEnd("onRequestEnd");
                                          events.Error("handleError");
                                      }))

          .Resizable(x => { x.Columns(true); }))
</div>