<div class="jumbotron">
    <h2 class="text-center">
        HelpMeGraduate Administration Area
    </h2>
</div>
<div class="row" id="ajax-loading" style="display: none">
    <div class="col-md-4 col-md-offset-4">
        <img src="~/Content/images/ajax-loader.gif" style="width: 250px" />
    </div>
</div>

<div class="row" id="ajax-admin-content">
    <div class="alert alert-info">
        <h2 class="lead text-center">
            Choose a category
        </h2>
    </div>
 
</div>



@section scripts
{
<script>
    $(document).ready(function () {
        $('#admin-menu').on('click', 'li', function (e) {
            var $this = $(this);
            $this.parent('ul').children('li').removeClass('active');
            $this.addClass('active');
        });
    });

</script>

}
