<div class="jumbotron">
    <h2 class="text-center">
        HelpMeGraduate Administration Area
    </h2>
</div>

        <div class="col-md-4 col-md-offset-4" id="ajax-loading" style="display: none">
            <img src="~/Content/images/ajax-loader.gif" style="width: 250px" />
        </div>
<div class="row" id="ajax-admin-content">
    <div class="alert alert-info">
        <h2 class="lead text-center">
            Choose a category
        </h2>
    </div>
 
</div>

@section kendoHelpers{
<script>
    function filterFaculties() {
        return {
            universities: $("#University").val()
        };
    }
    function filterCourses() {
        return {
            faculties: $("#Faculty").val()
        };
    }
</script>
}