@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels.Base
@using KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels.Course
<div class="col-md-12">
    @(Html.Kendo()
          .Grid<CourseViewModel>()
          .Name("grid-courses")
          .ToolBar(tool =>
                       {
                           tool.Create();
                       })
                  .Columns(cols =>
                                  {
                                      cols.Bound(model => model.Name);
                                      cols.Bound(model => model.Description);
                                      cols.Bound(model => model.Year);
                                      cols.Bound(model => model.Faculty)
                                          
                                          .ClientTemplate("#= Faculty.Name #")
                                          .ClientGroupHeaderTemplate("Faculty:#= value.Name #");
                                      cols.Bound(model => model.University)
                                          
                                          .ClientTemplate("#= University.Name #")
                                          .ClientGroupHeaderTemplate("University:#= value.Name #");
                                      cols.Bound(model => model.CreatedOn).Hidden(true);
                                      cols.Bound(model => model.ModifiedOn).Hidden(true);
                                      cols.Command(
                                                   command =>
                                                   {
                                                       command.Edit();
                                                       command.Destroy();
                                                   });
                                  })
                       .ColumnMenu()
          .Pageable(page =>
                        {
                            page.PreviousNext(true);
                            page.Numeric(true);
                            page.Refresh(true);
                        })
          .Sortable(sort =>
                        {
                            sort.AllowUnsort(true);
                            sort.SortMode(GridSortMode.SingleColumn);
                        })
          .Groupable()
          .Filterable(filter =>
                      {
                          filter.Mode(GridFilterMode.Row);
                      })
          .Resizable(resize => resize.Columns(true))
          .Navigatable()
          .Editable(edit =>
                        {
                            edit.Mode(GridEditMode.PopUp);
                        })
          .DataSource(data => data.Ajax()
                                  .Model(m => { m.Id(b => b.Id);
                                      
                                                  m.Field(x => x.Faculty).DefaultValue(new SimpleViewModel());
                                                  m.Field(x => x.University).DefaultValue(new SimpleViewModel());
                                  })
                                  .PageSize(10)
                                  .ServerOperation(true)
                                          .Create("Create", "Courses")
                                  .Read("Read", "Courses")
                                          .Update("Update", "Courses")
                                          .Destroy("Delete", "Courses")
                                  .Events(events =>
                                      {
                                          events.RequestEnd("onRequestEnd");
                                          events.Error("handleError");
                                      }))

          .Resizable(x => { x.Columns(true); }))
</div>