@using System.Collections
@using Kendo.Mvc.UI


<div class="form-group">
    <label for="Course">User:</label>
    @(Html.Kendo().DropDownList()
              .Name("User")
                  .OptionLabel("--Please Select--")
              .DataTextField("Username")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeUsers", "DropDown")
                          .Data("filterUsers");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("Course")
    )
</div>
