@{
    ViewBag.Title = "Home Page";
}

@section styles
{
<link href="~/Content/flexslider.css" rel="stylesheet" />
}
<div class="row" id="flex-container">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="../../Content/kitchen_adventurer_lemon.jpg" alt="" />
            </li>
            <li>
                <img src="../../Content/kitchen_adventurer_lemon.jpg" alt="" />
            </li>
            <li>
                <img src="../../Content/kitchen_adventurer_lemon.jpg" alt="" />
            </li>
            <li>
                <div class="jumbotron">
                    <h1>Hi</h1>
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="row">
    <div class="jumbotron">
        <h1 class="page-header text-center">
            Welcome To HelpMeGraduate!
            <br/>
            <small>The only thing you will need to get through university!</small>
        </h1>
    </div>
</div>

@section scripts{
<script src="~/Scripts/flexslider/jquery.flexslider-min.js"></script>
<script src="~/Scripts/flexslider/flexslider-config.js"></script>
}

